*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 10px;
  cursor: pointer;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.header {
  background-color: #6366f1;
  padding: 15px 0px 15px 15px;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: calc(100vh - 83px);
  font-family: "Roboto Slab", serif;
}

.nav {
  background-color: #e0e7ff;
  padding: 20px;
}

.default-projects {
  display: flex;
  flex-direction: column;
}

.user-projects {
  display: flex;
  flex-direction: column;
}

.projects-title {
  margin: 15px 0px;
}

.default-list,
.custom-project,
.project-content {
  text-align: left;
  background-color: #e0e7ff;
}

.custom-project,
.button-add-task {
  margin-bottom: 10px;
}

.project-input-popup,
.input-popup {
  padding: 8px;
  border: 1px solid #94a3b8;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.content {
  padding: 20px 40px;
  background-color: #eef2ff;
}

.title-name {
  margin-bottom: 15px;
}

.tasks-list {
  margin-bottom: 15px;
}

.fa-circle {
  width: 20px;
  height: 20px;
}

.fa-xmark {
  width: 20px;
  height: 20px;
}

.date,
.fa-circle,
.fa-xmark {
  cursor: pointer;
}

.task-popup {
  display: none;
  width: 50%;
}

.project-popup {
  display: none;
}

.task-container,
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.task-content {
  width: 80%;
}

.project-content {
  width: 100%;
}

.strike {
  text-decoration: line-through;
}

.date.active {
  display: none;
}

.input-date {
  display: none;
}

.input-date.active {
  display: block;
}

h1 {
  font-weight: 500;
}

.button-add-task {
  background-color: #eef2ff;
  text-align: left;
  width: 50%;
}

.default-list:hover,
.custom-project:hover,
.project-content:hover,
.button-add-task:hover {
  background-color: #c7d2fe;
  border-radius: 10px;
}

.default-list:focus,
.custom-project:focus,
.project-content:focus,
.button-add-task:focus {
  background-color: #c7d2fe;
  border-radius: 10px;
  font-weight: 500;
}

.add-project-popup,
.add-button-popup {
  width: 100%;
  background-color: #6ee7b7;
  border-radius: 10px;
  border: 1px solid #94a3b8;
}
